﻿@{
    var name = "";
    var width = "";
    var height = "";
    var drawers = "";
    var materialUsed = "";
    var rushOrderOption = "";
    var price = "";
    var date = DateTime.Now;
    var quoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty())
        {
            quoteId = Request.QueryString["ID"];
            var db = Database.Open("Quotes");
            var dbCommand = "SELECT * FROM Quote WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, quoteId);
            name = row.Name;
            width = row.Width;
            height = row.Height;
            drawers = row.Drawers;
            materialUsed = row.MaterialUsed;
            rushOrderOption = row.RushOrderOptions;
            price = row.Price;
            

        }
        else
        {
            Validation.AddFormError("No Quote was selected.");
        }
    }

    if (IsPost)
    {
        Validation.RequireField("name", "You need to enter a customer name.");
        Validation.RequireField("width", "You need to enter a width.");
        Validation.RequireField("height", "You need to enter a height.");
        Validation.RequireField("drawers", "You need to enter a number of drawers.");
        Validation.RequireField("materialUsed", "You need to enter a type of material used.");
        Validation.RequireField("rushOrderOptions", "You need to enter a rush order option.");
        Validation.RequireField("price", "You need to enter a price.");


        name = Request.Form["name"];
        width = Request.Form["width"];
        height = Request.Form["height"];
        drawers = Request.Form["drawers"];
        materialUsed = Request.Form["materialUsed"];
        rushOrderOption = Request.Form["rushOrderOptions"];
        price = Request.Form["price"];
        quoteId = Request.Form["quoteId"];

        if (Validation.IsValid())
        {
            var db = Database.Open("Quotes");
            var updateCommand = "UPDATE Quote SET Name=@0, Width=@1, Height=@2, Drawers=@3, MaterialUsed=@4, RushOrderOptions=@5, Price=@6, Date=@7 WHERE Id=@8";
            db.Execute(updateCommand, name, width, height, drawers, materialUsed, rushOrderOption, price, date, quoteId);
            Response.Redirect("~/ViewAllQuotes");
        }
    }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes Edit Page</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style type="text/css">
        body {
            font-family: 'Roboto', sans-serif;
        }

        .grid {
            margin: 4px;
            border-collapse: collapse;
            width: 600px;
        }

            .grid th, .grid td {
                border: 1px solid #C0C0C0;
                padding: 5px;
            }

        .head {
            background-color: #E8E8E8;
            font-weight: bold;
            color: #FFF;
        }

        .alt {
            background-color: #E8E8E8;
            color: #000;
        }
    </style>
</head>

<body>

    <h1>Edit a Quote</h1>
    @Html.ValidationSummary()

    <form method="post">
        <fieldset>
            <legend>Quote Details:</legend>

            <label>Customer Name:</label>
            <input type="text" name="name" value="@name" /><br />

            <label>Width:</label>
            <input type="text" name="width" value="@width" /><br />

            <label>Height:</label>
            <input type="text" name="height" value="@height" /><br />

            <label>Drawers #:</label>
            <input type="text" name="drawers" value="@drawers" /><br />

            <label>Material Used:</label>
            <input type="text" name="materialUsed" value="@materialUsed" /><br />

            <label>Rush Order Option:</label>
            <input type="text" name="rushOrderOptions" value="@rushOrderOption" /><br />

            <label>Price:</label>
            <input type="text" name="price" value="@price" /><br />

            <input type="hidden" name="quoteId" value="@quoteId" />
            <input type="submit" name="submitBtn" value="Edit Changes" />


        </fieldset>
    </form>

    <p><a href="~/ViewAllQuotes.cshtml">Return to View All Quotes</a></p>

</body>
</html>
