ul.navigation {
	list-style-type: none;
    margin: -10px;
    padding: 5px;
    overflow: hidden;
    background-color: #b3dbff;
	position: fixed;
    bottom: 0%;
    width: 100%;
	
	
}

/* Dropdown Button */
.dropbtn {
    background-color: #0086FF;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #b3dbff;
	
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #b3dbff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	bottom: 100%;
	z-index:1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #b3dbff}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

li.menu {
    float: left;
	display: inline;
	position: relative;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #b3dbff;
}

.turn {
	margin-top: 40%;
	display: block;
	float: left;
	width: 100%;
}

.gameProfile {
	margin-top: 20%;
	display: block;
	float: left;
	width: 100%;
}

.listPlayer {
	margin-top: 20%;
	display: block;
	float: left;
	width: 100%;
}

.newPlayer {
	margin-top: 40%;
	display: block;
	float: left;
	width: 100%;
}

#playerProfile {
	text-align: center;
	list-style-type: none;
    margin: -10px;
    padding: 5px;
    overflow: hidden;
    background-color: #b3dbff;
	position: fixed;
    top: 0;
    width: 100%;
}

#gameTitle {
	text-align: center;
	list-style-type: none;
    margin: -10px;
    padding: 5px;
    overflow: hidden;
    background-color: #b3dbff;
	position: fixed;
    top: 0;
    width: 100%;
	
}

#playerList {
	margin-top: 20%;
	display: block;
	float: left;
	width: 100%;
}

#test {
	text-align: center;
	list-style-type: none;
    margin: -10px;
    padding: 5px;
    overflow: hidden;
    background-color: #b3dbff;
	position: fixed;
    top: 0;
    width: 100%;
}